Source: thunk-gen
Section: devel
Priority: optional
Maintainer: Stas Sergeev <stsp2@yandex.ru>
Standards-Version: 3.9.7
Build-Depends:
    bash,
    meson,
    bison,
    flex,
    gcc,
    binutils,
    debhelper (>= 9~)
Homepage: https://github.com/stsp/thunk_gen

Package: thunk-gen
Architecture: any
Depends:
 bash,
 autoconf,
 pkg-config,
 ${misc:Depends},
 ${shlibs:Depends}
Description: 64-bit thunk generator for 16- and 32-bit code
 thunk-gen is a thunk generator for C and assembler code, providing
 wrappers so that code written for 16- or 32-bit environments can be
 compiled for 64-bit environments.
 .
 It is intended for use with 64-bit DOS-style environments running
 code intended for 16- or 32-bit DOS, typically dosemu2.
